@import 'tailwindcss';

:root {
  --unactive-btn: #f0f0f0;
  --unactive-btn-text: #6a6a6a;
  --active-btn-text: white;
  --active-btn: black;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Satoshi';
  src: url(../public/Assets/Fonts/Satoshi/Satoshi-Regular.otf) format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url(../public/Assets/Fonts/Satoshi/Satoshi-Bold.otf) format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Integral';
  src: url(../public/Assets/Fonts/IntegralCF/Fontspring-DEMO-integralcf-bold.otf) format('opentype');
  font-weight: bold;
  font-style: normal;
}

@theme {
  --font-integral: 'Integral';
  --font-satoshi: 'Satoshi';
  --color-bgcolor: #F2F0F1;
}

body {
  @apply font-satoshi;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-center-around {
  @apply flex items-center justify-around;
}

@utility text-main {
  @apply font-integral;
}

@utility text-sub {
  @apply text-gray-500;
}

@utility flex-center-between {
  @apply flex items-center justify-between;
}

@utility max-w-calc {
  max-width: calc(100% - 20px);
}


@layer base {
  input {
    @apply outline-none;
  }
}

@layer components {

  .footer {
    @apply flex-center flex-col mt-20;
  }

  .infoList {
    @apply flex justify-around max-sm:flex-col gap-10;
  }

  .shopInfo {
    @apply flex flex-col gap-4 md:w-1/3
  }

  .otherInfo {
    @apply flex flex-col text-gray-500 gap-5;
  }

  .infoItemList {
    @apply flex flex-col gap-2;
  }

  .infoHead {
    @apply font-bold;
  }

  .socialList {
    @apply flex gap-4;
  }

  .socialIcon {
    @apply w-4 h-4;
  }

  .iconHolder {
    @apply border-2 border-gray-300 rounded-full p-3 bg-white cursor-pointer;
  }

  .mainFooter {
    @apply flex flex-col bg-gray-200 w-full -mt-20 pt-40 px-20 pb-15;
  }

  .emailPrompt {
    @apply bg-black flex-center-around p-8 rounded-3xl z-1 max-sm:flex-col w-[80%] gap-4;
  }

  .textPromt {
    @apply text-3xl md:w-1/2 font-integral text-white;
  }

  .submitField {
    @apply flex flex-col gap-4 w-92 max-sm:w-full;
  }

  .inputEmail {
    @apply bg-gray-100 flex gap-2 p-2 rounded-full;
  }

  .submitEmail {
    @apply bg-gray-100 p-2 rounded-full font-bold;
  }

  .commentDisplay {
    @apply flex flex-col gap-8 items-center overflow-scroll;
  }

  .commentCard {
    @apply flex flex-col gap-2 rounded-xl w-96 h-42 p-4 shadow-xl border-1 border-gray-50 shrink-0;
  }

  .commentSection {
    @apply grid grid-cols-3 pb-8 gap-4 max-sm:flex max-sm:gap-4 overflow-x-auto w-full shrink place-items-center;
  }

  .commentList {
    @apply gap-8 w-screen flex overflow-x-scroll p-10;
  }

  .customer {
    @apply flex gap-2 font-bold;
  }

  .comment {
    @apply overflow-auto text-gray-500;
  }

  .galleryDisplay {
    @apply flex-center flex-col lg:w-[80%] w-full bg-gray-300 p-12 max-sm:p-4 rounded-4xl gap-8 shadow-xl;
  }

  .galleryItemList {
    @apply grid grid-cols-3 gap-4 max-sm:flex max-sm:flex-col w-full;
  }

  .galleryItem {
    @apply h-64 bg-white rounded-3xl p-4;
  }

  .displaySection {
    @apply flex flex-col gap-16 p-16 items-center;
  }

  .fourDisplay {
    @apply flex flex-col flex-center gap-10 w-screen flex-wrap;
  }

  .heading {
    @apply font-integral text-3xl;
  }

  .itemList {
    @apply flex lg:justify-center gap-5 overflow-x-scroll p-8 w-full;
  }

  .viewAllButton {
    @apply border-2 border-gray-400 text-gray-400 w-32 self-center px-6 py-2 rounded-full
  }

  .productCard {
    @apply flex flex-col gap-2 p-4 rounded-3xl hover:shadow-lg hover:-translate-y-6 z-2 cursor-pointer border-gray-100 transition-all;
  }

  .productImg {
    @apply rounded-3xl
  }

  .productRating {
    @apply flex gap-15;
  }

  .ratingStar {
    @apply flex;
  }

  .blackStripe {
    @apply bg-black w-screen p-6;
  }

  .brandList {
    @apply flex-center-around text-white font-bold text-3xl flex-wrap gap-5 font-integral;
  }

  .hero {
    @apply flex-center-around gap-4 max-sm:flex-col max-sm:pt-5 w-screen h-screen bg-bgcolor;
  }

  .heroText {
    @apply flex flex-col gap-5 max-sm:gap-2 max-sm:w-[80%] font-satoshi;
  }

  .heroMaintext {
    @apply text-6xl max-sm:text-3xl font-bold text-left font-integral;
  }

  .heroSubtext {
    @apply text-gray-400 max-sm:self-center;
  }

  .heroButton {
    @apply font-satoshi max-sm:self-center max-sm:w-full bg-gray-900 text-slate-100 rounded-full px-4 py-2 w-1/3;
  }

  .heroStats {
    @apply flex gap-10 mt-10 text-xl text-gray-500 max-sm:self-center;
  }

  .statNum {
    @apply font-extrabold text-2xl text-black;
  }

  .navbar {
    @apply flex-center-around p-6 sticky top-0 z-10 bg-white w-screen;
  }

  .navbarMenu {
    @apply md:hidden
  }

  .navbarLogo {
    @apply text-3xl font-bold font-integral;
  }

  .navbarList {
    @apply flex-center gap-6 max-sm:hidden;
  }

  .navbarList li {
    @apply cursor-pointer;
  }

  .navbarList .navbarListSub {
    @apply flex-center gap-2;
  }

  .navbarSearch {
    @apply flex-center gap-4 border-2 border-gray-300 bg-gray-300 rounded-full md:px-4 md:py-2 max-sm:bg-transparent max-sm:border-none;
  }

  .navbarSearch input {
    @apply outline-none max-sm:hidden;
  }

  .navbarCartProfile {
    @apply flex-center gap-4;
  }

  @layer components {
    .main-container {
      @apply flex flex-col flex-center w-screen px-16 py-4 gap-10 max-sm:px-5;
    }

    .primary-btn {
      @apply flex-center bg-[var(--unactive-btn)] text-[var(--unactive-btn-text)] rounded-full px-6 py-3 cursor-pointer hover:bg-[var(--active-btn)] hover:text-white transition-all duration-300 ease-in-out;
    }

    .color-chooser {
      @apply w-9 h-9 rounded-full hover:opacity-80 cursor-pointer
    }

    .navbar {
      @apply flex-center-between pt-6 pb-6;
    }

    .heading {
      @apply font-integral font-[700] text-[40px];
    }

    .desc {
      @apply font-satoshi font-[400] text-[16px] text-[#6a6a6a] leading-5.5;
    }
  }

  /*==========================
    Product Page CSS
  ========================= */
  .direction {
    @apply flex text-gray-400 self-baseline;
  }

  .activeLink {
    @apply text-black font-bold;
  }

  .product-container {
    @apply flex-center max-sm:flex-col;
  }

  .product-img {
    @apply w-[53%] mr-10 max-sm:w-[100%] max-sm:m-0;
  }

  .img-left {
    @apply w-full h-full object-cover rounded-2xl cursor-pointer max-sm:row-start-2 max-sm:max-sm:justify-self-center;
  }

  .img-right {
    @apply w-full h-auto rounded-2xl row-end-4 col-end-3 object-cover row-start-1 row-span-3 col-start-2 col-span-1 flex max-sm:row-start-1 max-sm:row-span-1 max-sm:col-start-1 max-sm:col-span-3 max-sm:justify-self-center;
  }

  .productImg-container {
    @apply grid grid-cols-[1fr_3fr] grid-rows-3 gap-4 max-sm:grid-rows-[3fr_1fr] max-sm:grid-cols-3;
  }

  .product-content {
    @apply w-[47%] max-sm:w-full max-sm:mt-5;

  }

  .product-content__feedback {
    @apply flex mt-3 mb-3 items-center max-sm:mt-1 max-sm:mb-1;
  }

  .product-content__feedback img {
    @apply mr-2;
  }

  .product-content__price {
    @apply flex flex-wrap items-center mb-3 font-[700] text-[32px] max-sm:mb-1;
  }

  .discountPrice {
    @apply text-[#B3B3B3] line-through mr-4
  }

  .product-content__discount {
    @apply text-[#ff3333] bg-[#FFEBEB] font-[500] text-[16px] w-[72px] h-[34px]
  }

  .product-content__desc {
    @apply border-[var(--unactive-btn)] border-b-2 pb-5
  }

  .product-content__choose {
    @apply mt-5 mb-3
  }

  .product-content__choose-color {
    @apply flex gap-3 pb-5 border-[var(--unactive-btn)] border-b-2
  }

  .product-content__choose-size {
    @apply flex pb-5 border-[var(--unactive-btn)] border-b-2 max-sm:justify-between
  }

  /*===========================
    Product Page - CommentsSection
  ========================= */
  .comment-heading {
    @apply font-[700] text-[24px] max-sm:text-[20px]
  }

  .comment-header {
    @apply flex w-full flex-center-between;
  }

  .comment-quanity {
    @apply font-[400] text-[16px] ml-2 max-sm:text-[1px]
  }

  .comment-header__adjustBtn {
    @apply w-[48px] h-[48px] flex-center max-sm:w-1/10
  }

  .comment-header__moreBtn {
    @apply flex-center w-[120px] bg-[var(--unactive-btn)] rounded-full ml-3 max-sm:w-1/3
  }

  .commentselector {
    @apply max-sm:w-full
  }

  .commentSelectorButton {
    @apply w-full border-b-2 border-[var(--unactive-btn)] text-[#666666] cursor-pointer pb-3 hover:text-[var(--active-btn)] hover:font-bold hover:border-[var(--active-btn)]
  }

  .comment-header__writeBtn {
    @apply w-[166px] h-[48px] bg-black ml-3 max-sm:text-sm
  }

  .commentselector-button.active {
    @apply text-[var(--active-btn)] border-[var(--active-btn)]
  }

  .ratingStar {
    @apply flex gap-1;
  }

  .customer {
    @apply flex gap-2 font-bold;
  }

  .comment {
    @apply overflow-auto text-gray-500;
  }

  .postDay {
    @apply text-gray-500;
  }

  .learnMoreBtn {
    @apply w-[230px] h-[52px] border-1 border-gray-500 bg-white hover:opacity-80 hover:text-gray-900 mx-auto
  }
}

/*=====================
    CartPage
======================*/
@layer {
  .cart {
    @apply flex
  }

  .cart-list {
    @apply w-2/3 h-auto border-2 border-gray-300 px-5 py-5 rounded-full
  }

}